init.author.name = Tomasz Zacharczuk
init.author.email = tom@coreum.io
# an email is required to publish npm packages
email=tom@coreum.io
always-auth=true
_auth=bnBtLXVwbG9hZDpucG0tdXBsb2FkLW5leHVzLTIwMTktY29yZXVt
